<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h2>Register With</h2>
   <p> <a href="/google">google</a></p>
    <p><a href="/auth/facebook">facebook</a></p>
</head>
<body>
    
</body>
</html>